.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding: 6px 12px;
    border-radius: 6px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;

    cursor: pointer;
    border: 1px solid transparent;

    transition: all var(--transition-default);
}

/* PRIMARY */
.primary {
    color: var(--color-white);
    background-color: var(--color-mantis-dark);
    border-color: var(--color-mantis-dark);
}

.primary:hover:not(:disabled) {
    background-color: var(--color-mantis-lighter);
    color: var(--color-scheme-2-text);
}

.primary:active:not(:disabled) {
    background-color: var(--color-mantis-dark);
    border-color: var(--color-mantis-dark);
    color: var(--color-white);
}

.primary:disabled {
    opacity: 0.3;
    background-color: var(--color-mantis-dark);
    border-color: var(--color-mantis-dark);
    color: var(--color-white);
}

/* SECONDARY */
.secondary {
    background-color: var(--opacity-neutral-darkest-5);
    color: var(--color-scheme-2-text);
    border-color: var(--color-scheme-2-border);
}

.secondary:hover:not(:disabled) {
    background-color: var(--color-mantis-dark);
    border-color: var(--opacity-neutral-darkest-5);
    color: var(--color-white);
}

.secondary:active:not(:disabled) {
    background-color: var(--color-mantis-darker);
    border-color: transparent;
    color: var(--color-white);
}

.secondary:disabled {
    opacity: 0.3;
    background-color: var(--opacity-neutral-darkest-5);
    border-color: transparent;
    color: var(--color-scheme-2-text);
}

/* TERTIARY */
.tertiary {
    background-color: var(--opacity-neutral-darkest-5);
    color: var(--color-scheme-2-text);
    line-height: 150%;
    border: 1px solid var(--color-scheme-2-border);
}

.tertiary:hover:not(:disabled) {
    border-color: var(--color-mantis-dark);
    background-color: var(--color-mantis-lighter);
}

.tertiary:active:not(:disabled) {
    transform: translateY(1px);
    background-color: var(--color-mantis-light);
}

.tertiary:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

/* RESPONSIVE */
@media (max-width: 375px) {
    .button {
        width: 100%;
    }
}

@media (min-width: 1440px) {
    .button {
        font-size: 20px;
    }
}