.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: stretch;
}

/* планшет */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* мобілка */
@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}