.title {
  margin: 0;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: var(--color-neutral-darkest);
}

.h1 {
  font-size: 56px;
}

.h2 {
  font-size: 52px;
}

.center {
  text-align: center;
}
